{% extends 'layout.html' %}

{% block content %}
  <div class="container-narrow">
    <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a> >></li>
            <li class="breadcrumb-item">
              <a href="{{url_for('collect')}}">Collect Data</a>
            </li>
          </ol>
    </nav>
    <hr />
    <div class="container-narrow">
      <div class="row-fluid marketing">
        <div class="span6">
          <div>
            <a class="btn btn-outline-dark btn-collect disabled" href="/profile">Organization Profile</a>
          </div>
          <br/>
          <br/>
          <div>
            <a class="btn btn-outline-dark btn-collect disabled" href="/profile">Add Projects</a>
          </div>
          <br/>
          <br/>
          <div>
            <a class="btn btn-outline-dark btn-collect" href="{{url_for('invite_users')}}">Invite Users</a>
          </div>
        </div>
        <div class="span6">
          <div>
            <a class="btn btn-outline-dark btn-collect" href="{{url_for('get_create_project')}}">Upload/Host Data</a>
          </div>
          <br/>
          <br/>
          <div>
            <a class="btn btn-outline-dark btn-collect disabled" href="{{url_for('download_files')}}">Download datasets</a>
          </div>
          <br/>
          <br/>
          <div>
            <a class="btn btn-outline-dark btn-collect disabled" href="{{url_for('create_datastories')}}">Publish Datastory</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}