{% extends 'layout.html' %}

{% block content %}

    <div class="container-narrow">
      <div class="jumbotron">
        <h2>Welcome to CitSci Earth!</h2>
        <p class="lead">
          CitSci Earth lets you share your datasets with citizen science
          projects spread across the world. Contributors receive attributions
          whenever their datasets are published by a community.
        </p>
        <a class="btn btn-large btn-success" href="sign-up.html">Join today</a>
        <p>
          <br />
          Get an invite from a citizen science project or start your own project
          and join our movement to save the environment from climate change.
        </p>
      </div>

      <hr />

      <div class="row-fluid marketing">
        <div class="span6">
          <a href="citsci.html"><h4>Citizen Science</h4></a>
          <p>
            Learn more about citizen science and how to collect valuable data
            about our environment.
          </p>
          <br />
          <a href="send.html"><h4>Send Data</h4></a>
          <p>
            Click here to send datasets to your Citizen Science Projects.
          </p>
          <br />
          <a href="{{ url_for('collect') }}"><h4>Collect Data</h4></a>
          <p>Click here to manage your Citizen Science Projects.</p>
        </div>
        <div class="span6">
          <a href="data-licences.html"><h4>Data Licenses</h4></a>
          <p>
            Know your data rights and receive attributions/acknowledgments for
            your contributions.
          </p>
          <br />
          <a href="data-privacy.html"><h4>Data Privacy</h4></a>
          <p>
            Learn about Privacy and how we manage and secure your data.
          </p>
          <br />
          <a href="terms-conditions.html"><h4>Terms & Conditions</h4></a>
          <p>
            By using this site, you agree to the terms and conditions set
            forward here
          </p>
        </div>
      </div>
      <hr />
    </div>


    <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% endblock content %}