{% extends 'layout.html' %}

{% block content %}
  <div class="container-narrow">
    <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a> >></li>
            <li class="breadcrumb-item">
              <a href="{{url_for('collect')}}">Collect Data</a>
            </li>
          </ol>
    </nav>
    <hr />
    <div class="container-narrow">
        <h3 class="text-center">Upload/Host Data</h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('get_create_project')}}">Create Project</a> </li>
            <li class="breadcrumb-item"> -- </li>
              <li class="breadcrumb-item"><a href="{{url_for('get_upload_raw_data_files')}}">Upload Raw Data</a></li>
            <li class="breadcrumb-item"> -- </li>
              <li class="breadcrumb-item"><a href="{{url_for('get_upload_metadata_files')}}">Upload Metadata</a></li>
            <li class="breadcrumb-item"> -- </li>
              <li class="breadcrumb-item"><a href="{{url_for('get_map_metadata_files')}}">Map Metadata</a></li>
          </ol>
        </nav>
        <br/>
        <form action="{{url_for('post_map_metadata_files') }}" method="POST" role="form">
            {{ form.hidden_tag() }}
            {% for subform in form.metadata_form_columns %}

            <div class="row">
                <h4>{{ subform.file_name.data }} </h4>
                <div class="card">
                    <div class="container-narrow">
                        <table class="table-condensed table-responsive">
                            <thead>
                                <tr>
                                    <th>Columns</th>
                                    <th>Select Column To Include</th>
                                    <th>Select Column to Join (Only 1)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for column in subform.file_columns %}
                                            <tr>
                                            <td>{{ column.data }}</td>
                                            <td>
                                                <label class="checkbox" style="padding-left: 25px">
                                                    <input type="checkbox"  name ="column_select"
                                                           value="{{ column.data+';'
                                                           + subform.file_id.data | string }}">
                                                </label>
                                            </td>
                                            <td>
                                                <label class="checkbox" style="padding-left: 25px">
                                                    <input type="checkbox"  name ="join_select"
                                                           value="{{ column.data+';'+
                                                           subform.file_id.data | string }}">
                                                </label>
                                            </td>

                                            </tr>
                                         {% endfor %}
                            </tbody>
                    </table>
                </div>
            </div>
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <a class="btn btn-primary disabled" href="{{request.referrer}}">Back</a>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary pull-left">Done</button>
                </div>
            </div>
        </form>
            </div>
        <br/>
    </div>

{% endblock content %}